@import "./blocks/header.scss";
@import "./blocks/card.scss";
@import "./blocks/nav.scss";
@import "./blocks/stars.scss";

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 200px);
}
